@page
@model Web.Server.SoundWave.Pages.AlbumDetailsModel

@if (Model.Album is not null)
{
    <section class="h-100 h-custom" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="d-flex gap-5">
                                    <img src="@Model.Album.UrlPreviewImg" style="width: 250px" class="rounded float-start" alt="@Model.Album.Title">
                                    <div>
                                        <h5 class="mb-3 text-body">
                                            Альбом @Model.Album.Title
                                        </h5>
                                        <h5 class="mb-3 text-body">
                                            Группы: @Model.Album.Groups[0].Title
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-lg-7 mt-3">
                                    @foreach (var song in Model.Album.Songs)
                                    {
                                        <div class="card mb-3">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div class="ms-3">
                                                            <h5>@song.Title</h5>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-row align-items-center">
                                                        <audio controls src="@song.SongURL"></audio>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}